<form method="post" action="{{ path('app_emailrappel', {'id': eleve.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir envoyer un mail de relance ?');">
    <button class="btn btn-info">Ici</button>
</form>
