{% extends 'base.html.twig' %}

{% block title %}Editer un matériel{% endblock %}

{% block body %}
    <h1>Editer un matériel</h1>

    {{ include('material/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('material/_delete_form.html.twig') }}

    <a href="{{ path('app_material_index') }}">Retour en arrière</a>

{% endblock %}
